* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.hide {
  display: none !important;
}
.tree {
  width: 600px;
}
.tree li {
  display: block;
  padding-left: 20px;
}
.tree li li {
  position: relative;
}
.tree li li:first-of-type:before {
  color: #eee;
  content: "↪";
  font-size: 16px;
  position: absolute;
  left: -4px;
  top: -4px;
}
.credit,
.comment,
.title {
  padding: 5px 10px;
}
.comment,
.credit,
.title {
  display: block;
}
.author {
  color: #999;
  padding-right: 6px;
}
.comment {
  padding-top: 25px;
}
.credit {
  border-bottom: 1px solid #eee;
  color: #999;
  padding-bottom: 10px;
  text-align: right;
}
.date:after {
  content: ")";
}
.date:before {
  content: "(";
}
.title {
  background: #eee;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
}
.title:hover {
  background: #ddd;
}
